@page "/"

<PageTitle>Index</PageTitle>

<h1>Digital Cursos</h1>

<img src="images/digitalcursos.jpg" alt="Digital Cursos" class="img-thumbnail"
     width="800" height="500" style="vertical-align: middle;" />
